@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif; }

.contenedor-grid {
  display: grid;
  grid-template-areas: "header" "main" "footer"; }

/*Main*/
main {
  grid-area: main; }
  main .imagen-introduccion {
    position: relative; }
    main .imagen-introduccion .contenido-imagen {
      width: 100%;
      max-width: 100%;
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      main .imagen-introduccion .contenido-imagen h4 {
        color: #fff;
        font-size: 5em;
        margin-top: 2.5em; }
      main .imagen-introduccion .contenido-imagen .linkAmenu {
        margin-top: 5em; }
        main .imagen-introduccion .contenido-imagen .linkAmenu a {
          border: solid #fff 1px;
          color: #fff;
          font-size: 1em;
          text-decoration: none;
          padding: 1em 1.7em 1em 1.7em;
          font-weight: 600;
          transition: 0.3s; }
          main .imagen-introduccion .contenido-imagen .linkAmenu a:hover {
            background-color: #fff;
            color: #212529;
            text-decoration: underline; }
    main .imagen-introduccion img {
      width: 100%;
      max-width: 100%;
      height: 81vh; }
  main .imagenes-carteles {
    margin-top: 4em; }
    main .imagenes-carteles h2 {
      text-align: center;
      font-size: 2em;
      font-weight: 300; }
  main .cartelera-sushi {
    margin: 2em 1.5em 2em 1.5em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly; }
    main .cartelera-sushi img {
      display: block;
      width: 100%;
      height: 350px; }
    main .cartelera-sushi .item-rolls {
      position: relative;
      width: 450px;
      height: auto;
      margin: 1em; }
      main .cartelera-sushi .item-rolls .texto-rolls {
        position: absolute;
        background: #000000;
        background: #00000080;
        /* Black see-through */
        color: #f1f1f1;
        width: 100%;
        bottom: 0;
        transition: .5s ease;
        opacity: 0;
        color: white;
        font-size: 20px;
        padding: 20px;
        text-align: center; }
        main .cartelera-sushi .item-rolls .texto-rolls:hover {
          opacity: 1;
          cursor: pointer; }
    main .cartelera-sushi .item-niguiris {
      position: relative;
      width: 450px;
      height: 350px;
      margin: 1em; }
      main .cartelera-sushi .item-niguiris .texto-niguiris {
        position: absolute;
        background: #000000;
        background: #00000080;
        /* Black see-through */
        color: #f1f1f1;
        width: 100%;
        bottom: 0;
        transition: .5s ease;
        opacity: 0;
        color: white;
        font-size: 20px;
        padding: 20px;
        text-align: center; }
        main .cartelera-sushi .item-niguiris .texto-niguiris:hover {
          opacity: 1;
          cursor: pointer; }
    main .cartelera-sushi .item-woks {
      position: relative;
      width: 450px;
      height: auto;
      margin: 1em; }
      main .cartelera-sushi .item-woks .texto-woks {
        position: absolute;
        background: #000000;
        background: #00000080;
        /* Black see-through */
        color: #f1f1f1;
        width: 100%;
        bottom: 0;
        transition: .5s ease;
        opacity: 0;
        color: white;
        font-size: 20px;
        padding: 20px;
        text-align: center; }
        main .cartelera-sushi .item-woks .texto-woks:hover {
          opacity: 1;
          cursor: pointer; }
    main .cartelera-sushi .item-sashimis {
      position: relative;
      width: 450px;
      height: auto;
      margin: 1em; }
      main .cartelera-sushi .item-sashimis .texto-sashimis {
        position: absolute;
        background: #000000;
        background: #00000080;
        /* Black see-through */
        color: #f1f1f1;
        width: 100%;
        bottom: 0;
        transition: .5s ease;
        opacity: 0;
        color: white;
        font-size: 20px;
        padding: 20px;
        text-align: center; }
        main .cartelera-sushi .item-sashimis .texto-sashimis:hover {
          opacity: 1;
          cursor: pointer; }
    main .cartelera-sushi .item-ceviches {
      position: relative;
      width: 450px;
      height: auto;
      margin: 1em; }
      main .cartelera-sushi .item-ceviches .texto-ceviches {
        position: absolute;
        background: #000000;
        background: #00000080;
        /* Black see-through */
        color: #f1f1f1;
        width: 100%;
        bottom: 0;
        transition: .5s ease;
        opacity: 0;
        color: white;
        font-size: 20px;
        padding: 20px;
        text-align: center; }
        main .cartelera-sushi .item-ceviches .texto-ceviches:hover {
          opacity: 1;
          cursor: pointer; }
    main .cartelera-sushi .item-platos {
      position: relative;
      width: 450px;
      height: auto;
      margin: 1em; }
      main .cartelera-sushi .item-platos .texto-platos {
        position: absolute;
        background: #000000;
        background: #00000080;
        /* Black see-through */
        color: #f1f1f1;
        width: 100%;
        bottom: 0;
        transition: .5s ease;
        opacity: 0;
        color: white;
        font-size: 20px;
        padding: 20px;
        text-align: center; }
        main .cartelera-sushi .item-platos .texto-platos:hover {
          opacity: 1;
          cursor: pointer; }

main {
  grid-area: main; }
  main .tituloMenu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 2em; }
    main .tituloMenu h2 {
      font-size: 2.5em;
      font-weight: 300; }
  main .contenedor-productos {
    display: flex;
    justify-content: center;
    flex-direction: column; }
    main .contenedor-productos button {
      margin: 1em 20em 1em 20em; }
